<!DOCTYPE html>
<html lang="en">

  <head>
    <!-- Required Meta Tag -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Restoran Alres. Memberikan catalog restoran yang sangat direkomendasikan untuk dikunjungi" />

    <link rel="shortcut icon" href="icons/favicon.png" type="image/png" />

    <!-- Title Web -->
    <title>Alres</title>
  </head>

  <body>
    <a href="#main-content" class="skip-to-content" tabindex="0">SKIP TO CONTENT</a
    >
    <header>
      <nav class="p1 px-2">
        <h1>Alres</h1>
        <button class="hamburger" aria-label="hamburger button">☰</button>
        <nav-list class="drawer"></nav-list>
      </nav>
    </header>

    <main id="main-content" tabindex="0"></main>

    <footer class="p1">
      <p>Copyright © 2022 - Developed by Bryan Kazuro</p>
    </footer>
  </body>
</html>
