footer {
  border-start-start-radius: 3em;
  background-color: rgba($color: #303533, $alpha: 0.5);
  font-family: "Tiro Devanagari Sanskrit", serif;
  text-align: center;
  font-weight: bold;
  font-size: 1.1rem;
}