.jumbotron {
  border-start-start-radius: 3rem;
  width: 100%;
  height: 80vh;
  background: url("/images/heros/hero-image_3.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: "Satisfy", cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  animation: shadow 3s ease-in-out infinite alternate;
  z-index: -9;
  h1 {
    color: $teal-color;
    font-size: 3rem;
    text-align: center;
  }
  p {
    margin: 0 1ex;
    color: $teal-color;
    font-weight: bold;
    font-size: calc(2rem - 1.5pt);
    line-height: 2pc;
    text-align: center;
  }
}