@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Joan&family=Poppins:wght@300&family=Satisfy&family=Tiro+Devanagari+Sanskrit:ital@1&display=swap");
$teal-color: #3b7792;
$white-color: #fff;
$black-color: #000;
$body-color: #ebebeb;
$text-shadow: 0 0 10px $white-color,
0 0 20px $white-color,
0 0 40px $white-color,
0 0 60px $white-color;
@import "_skip-content.scss";
@import "_loader.scss";
@import "_navbar.scss";
@import "_jumbotron.scss";
@import "_placeholder.scss";
@import "_restaurant.scss";
@import "_restaurant-detail.scss";
@import "_restaurant-favorite.scss";
@import "_footer.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: $body-color;
  font-family: "Joan", serif;
  min-height: 100vh;
}

#main-content {
  min-height: 79vh;
  h1 {
    text-align: center;
  }
}

footer {
  a {
    &:hover {
      color: aqua;
    }
  }
}