@media screen and (min-width: 576px) {
  header {
    nav {
      .hamburger {
        display: none;
      }
      nav-list {
        margin-top: 0;
        width: fit-content;
        display: inherit;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .jumbotron {
    gap: 3rem;
    h1 {
      font-size: 4rem;
    }
    p {
      font-size: 2rem;
    }
  }
  .main-container {
    .restaurant {
      grid-template-columns: repeat(auto-fit, minmax(16.5em, 1fr));
    }
    .restaurant__favorite {
      margin: 0 auto;
      max-width: inherit;
      grid-template-columns: repeat(auto-fit, 20em);
    }
  }
  restaurant-detail {
    .restaurant__container {
      flex-direction: row;
      .restaurant__container-detail {
        flex: 1 50%;
      }
    }
  }
  review-container {
    display: flex;
    .review__container-list,
    .review__container-form {
      width: 50%;
      .review__form {
        height: 50vh;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .jumbotron {
    min-width: 1000px;
  }
}